<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <STC.Properties.Settings>
            <setting name="defDepPlanet" serializeAs="String">
                <value />
            </setting>
            <setting name="defArrPlanet" serializeAs="String">
                <value />
            </setting>
          <setting name="defMonthsPassed" serializeAs="String">
            <value />
          </setting>
          <setting name="defWarpType" serializeAs="String">
            <value />
          </setting>
          <setting name="defWeight" serializeAs="String">
            <value />
          </setting>
        </STC.Properties.Settings>
    </userSettings>
</configuration>